.btn {
  padding: 0.6em 1.2em;
  background-color: #1a1a1a;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color 0.25s;
  cursor: pointer;

  &:hover {
    @media (hover: hover) {
      border-color: #81d2f1;
    }
  }

  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  &--active {
    background-color: rgb(72, 122, 145);

    &:hover {

      @media (hover: hover) {
        border-color: transparent;
        cursor: default;
      }
    }
  }
}